:root {
  /* Colores principales existentes */
  --primary-color: #ec0c94;
  --secondary-color: #fc54c4;
  --terceary-color: #a93484;
  --cuarary-color: #ac6c9c;
  --quintary-color: #ccacc4;

  /* Colores de texto y fondos */
  --text-color-dark: #333;
  --text-color-light: #fff;
  --background-light: #f4f6f8;
  --background-card: #ffffff;
  --backgtround-dark2: #a3a3a3;
  --background-card-hover: #eaeaea;
  --background-fraccion: #f9f9f9;
  --background-darksito: rgba(255, 255, 255, 0.2);
  --backgrounddd: linear-gradient(135deg, #ea0d94, #000);
  --background-modal: rgba(0, 0, 0, 0.5);

  /* Sombras y efectos */
  --box-shadow-light: 0 4px 6px rgba(0, 0, 0, 0.1);
  --box-shadow-modal: 0 5px 15px rgba(0, 0, 0, 0.3);
  --box-shadow-modal2: 0 10px 30px rgba(0, 0, 0, 0.15);
  --box-shadoww: 4px 12px rgba(0, 0, 0, 0.3);
  --box-shadow2: 0 3px 10px rgba(0, 0, 0, 0.2);
  --box-shadow3: rgba(0, 0, 0, 0.4);
  --bord-b: 1px solid white;

  /* NUEVAS VARIABLES PARA .button-92 */
  --button-text-color: #fff;
  --button-bg-color: #004dff;
  --button-gradient: linear-gradient(90deg, #ec0c94, #fff5, #a93484);
  --button-text-shadow: #0004;
  --button-box-shadow-inset: #0005;
}


body {
  font-family: 'Roboto', sans-serif;
  background: var(--background-light);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  margin: 0%;
  padding: 0%;
  padding-top: 80px;
  /* o ajusta según la altura de tu navbar */
}

.navbar {
  background: var(--backgrounddd);
  padding: 0.8rem 2rem;
  border-radius: 0 0 20px 20px;
  box-shadow: var(--box-shadow-modal);
  position: fixed;
  /* CAMBIADO de 'relative' a 'fixed' */
  top: 0;
  /* lo ancla al top de la pantalla */
  left: 0;
  width: 100%;
  /* importante para que no se achique */
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.menu-item {
  /*controla el despieble del los demas enlaces*/
  position: relative;
}


.menu-link {
  /*config del los titulos del navbar*/
  color: var(--background-light);
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--background-light);
  border-radius: 10px;
  box-shadow: var(--box-shadow-modal2);
  ;
  list-style: none;
  width: 220px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: all 0.3s ease;
  z-index: 100;
}

.menu-item:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(5px);
}

.dropdown-menu li {
  padding: 0.5rem;
  border-bottom: var(--bord-b);
}

.dropdown-menu a {
  color: var(--text-color-dark);
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.2s ease;
  font-size: 0.95rem;
}

.dropdown-menu a:hover {
  background-color: var(--box-shadow-light);
  color: var(--backgtround-dark2);
}

@media(max-width: 728px) {
  .navbar-container {
    flex-direction: column;
  }

  .navbar-menu {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 1rem;
  }


}

.banner-section {
  position: relative;
  background-image: url('../image/ople.jpg');
  /* Cambia la URL por tu imagen */
  background-size: cover;
  background-position: center;
  height: 890px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0 0 20px 20px;
}

.banner-overlay {
  margin-bottom: 0px;
  background: var(--box-shadow3);
  /* oscurece para mejorar legibilidad */
  color: var(--background-light);
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
}

.banner-title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.banner-subtitle {
  font-size: 1rem;
  margin-bottom: 1.2rem;
  color: var(--quintary-color);
}

.banner-button {
  background-color: var(--primary-color);
  color: var(--background-light);
  padding: 0.5rem 1.2rem;
  border-radius: 30px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: background 0.3s ease;
  box-shadow: var(--box-shadow2);
}

.banner-button:hover {
  background-color: var(--secondary-color);
}

.banner-over {
  margin-top: 1in;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
}

.ajus {
  width: 66% !important;
  margin: 20px auto !important;
  line-height: 1.6 !important;
  text-align: justify !important;
  word-wrap: break-word !important;
}

/*Inicio de la config de la ventana modal*/
.contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(222px, 1fr));
  gap: 13px;
  padding: 10px;
  max-width: calc(260px * 5 + 13px * 4);
  /* máximo 5 columnas + 4 gaps */
  margin: 0 auto;
  /* centrar el grid horizontalmente */
}

.card {
  width: 220px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background-card);
  border-radius: 15px;
  box-shadow: var(--box-shadow-light);
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  /* NECESARIO para contener la franja inferior */
  overflow: hidden;
  /* evita que se vea antes de tiempo */
  text-align: center;
  color: var(--cuarary-color);
}

.card .icon {
  /*tamaño del icono*/
  font-size: 49px;
  margin-bottom: 40px;
  color: var(--terceary-color);
}
.card .title{
  position: relative;
}
.card .titlee{
  font-size: 35px;
  margin-block-end: auto;
  position:absolute;
}
/*17 54 c se eliminan*/


.card-hover {
  position: absolute;
  bottom: -45px;
  left: 0;
  width: 100%;
  height: 45px;
  background: var(--primary-color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  border-radius: 0 0 15px 15px;
  transition: bottom 0.6s ease;
}

/* Aparece en hover */
.card:hover .card-hover {
  bottom: 0;
}

/* Animación de la flecha */
.card-hover i {
  transition: transform 0.7s ease;
  font-size: 25px;

}

.card:hover .card-hover i {
  transform: translateX(5px) rotate(-15deg);
  /* Se levanta e inclina un poco */
}




/*Estillo del modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-modal);
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal-content {
  background: var(--background-card);
  padding: 25px;
  border-radius: 12px;
  width: 650px;
  max-width: 100%;
  max-height: 90vh;
  align-content: center;
  align-items: center;
  text-align: justify;
  box-shadow: var(--box-shadow-modal);
  animation: aparecer 0.3s ease;
  position: relative;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--background-light);
}

.modal-content::-webkit-scrollbar {
  width: 8px;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: var(--background-light);
  border-radius: 4px;
}

@keyframes aparecer {
  from {
    transform: scale(0.7);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-content h2 {
  align-items: center;
  align-content: center;
  gap: 10px;
  font-size: 22px;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.modal-content h3 {
  font-size: 18px;
  margin: 15px 0 8px;
  color: var(--primary-color);
}

.modal-content p {
  line-height: 1.5;
  margin-bottom: 15px;
}

.fraccion {
  background: var(--background-fraccion);
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 24px;
  position: relative;
  box-shadow: 0 6px 16px rgba(51, 51, 51, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fraccion::before {
  content: "";
  position: absolute;
  width: 649px;
  height: 9px;
  background: var(--primary-color);
}

.fraccion::before {
  top: 0;
  left: 0;
  border-radius: 12px;
}

.fraccion::after {
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 12px;
}

.btn {
  background: var(--primary-color);
  color: #fff;
  padding: 8px 14px;
  border-radius: 2rem;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  transition: 0.3s ease;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  /* espacio para ícono */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background: var(--secondary-color);
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}


.close {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 28px;
  color: var(--text-color-light);
  cursor: pointer;
}

.btn-elegante {
  background: linear-gradient(135deg, var(--primary-color), var(--terceary-color));
  color: white;
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.75em 1.5em;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(172, 108, 156, 0.3);
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
}

.btn-elegante:hover {
  background: linear-gradient(135deg, var(--secondary-color), var(--cuarary-color));
  box-shadow: 0 6px 12px rgba(172, 108, 156, 0.5);
  transform: translateY(-2px);
}

.btn-elegante:active {
  transform: scale(0.98);
  box-shadow: 0 2px 6px rgba(172, 108, 156, 0.4);
}

.btn-icon {
  width: 1.2em;
  height: 1.2em;
  fill: currentColor;
}

.separador {
  display: flex;
  align-items: center;
  gap: 10px;
  background: var(--primary-color);
  border-radius: 12px;
  padding: 12px 18px;
  font-weight: 600;
  font-size: 1.1rem;
  color: #fff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  margin-block-end: 10px;
}

.separador .icon {
  font-size: 1.3rem;
  color: #fff;
}

footer {
  margin-top: 10%;
  background: var(--quintary-color);
  padding: 20px 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: var(--background-light);
}

.footer-section h3 {
  margin-bottom: 25px;
  position: relative;
  width: fit-content;
}

.footer-section h3::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 60px;
  height: 3px;
  background: var(--primary-color);
}

.footer-section ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0;
  margin: 0;
}

.footer-section ul a {
  text-decoration: none;
  color: var(--background-dark2);
  font-size: 14px;
}

.footer-section .social-icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.footer-section .social-icons a {
  font-size: 30px;
  color: var(--background-light);
  transition: all 0.3s ease;
  height: 35px;
  width: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Esto los hace circulares */
  text-decoration: none;
}

.social-icons li {
  list-style: none;
}

.social-icons li:hover a {

  color: var(--primary-color);
}
.footer-section li:hover {
  cursor: pointer;
  color: var(--primary-color);
}

@media (max-width: 768px) {
  footer {
    grid-template-columns: 1fr;
    row-gap: 35px;
    text-align: center;
  }

  .footer-section h3 {
    margin: 0 auto 25px;
  }

  .footer-section .social-icons {
    justify-content: center;
  }

  .footer-section h3::after {
    left: 50%;
    transform: translateX(-50%);
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  text-align: center;
  background-color: transparent;
  font-size: 14px;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: middle;
  border: 1px solid #dee2e6;
}
.table td{
  text-align: justify;
}



.table thead th {
   box-shadow: 6px rgba(51, 51, 51, 0.3);
  color: #000000;
  font-weight: 600;
  border-bottom: 2px solid #dee2e6;
}


.table tbody tr:nth-child(even) {
  background: rgb(215, 214, 214); 
  color: #000;
}


